body{
    width: 95%;
    margin: auto;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    font-family: 'Redressed', cursive;
    line-height: 1.9;
    color: #a61655;
}

main{
    background: #000000ba;
    border-radius: 10px;
}

.centro{
    text-align: center;
}